
#right-access-management{
    font-family: Arial !important ;
    // .MuiInputBase-input {
    //     padding: 6.5px 14px !important;
    // }
}

#access-period-to{
    // font-family: Arial !important ;
    // .MuiInputBase-input {
    //     padding: 6.5px 14px !important;
    // }
    padding: 6.5px 14px !important;
}

#access-period-from{
    // font-family: Arial !important ;
    // .MuiInputBase-input {
    //     padding: 6.5px 14px !important;
    // }
    padding: 6.5px 14px !important;
}

*{
    font-family: Arial !important ; 
}
