#rgr008{
    .search-container{
      padding: 30px 18px 0px 18px;
    }
    
    .search-container .row {
      gap: 30px;
      margin-bottom: 15px;
      align-items: baseline;
    }
    
    .search-container .row .field {
      flex-wrap: wrap;
      width: 210px;
    }
    .search-container .row .field > div {
      width: 100%;
    }

  }
  